<!-- <ng-template #urlFormTemp let-data="data" let-component="component">
    <h2>This is for testing {{component}} and its data: {{data}}</h2>
    
    <div id="generateShort">
        <h3>Enter a long URL here:</h3>
        <form [formGroup]="getShortForm" (ngSubmit)="shorten()">
            <div>
                <label for="LongURL">Enter URL:</label>
                <input type="text" name="Long URL" placeholder="https://example.com" formControlName="longURL" (keyup)="isChanged('long')">
                <button type="submit" id="generate" [disabled]="getShortForm.invalid">Generate</button>
            </div>
        </form>
        <div>  
            <label for="Short URL">Short URL:</label>
            <input type="text" #ShortURL name="Short URL" readonly="readonly" placeholder="View short URL here" [(ngModel)]="shortURL">
            <button type="button" id="copy" [disabled]="!shortURL" (click)="copyToClipboard('copy')">Copy</button>
        </div>
    </div>

</ng-template>


<app-url-shortener2 [urlFormTemp]="urlFormTemp" ></app-url-shortener2> -->

<!-- For the generate url part -->
<!-- <ng-container
[ngTemplateOutlet]="urlFormTemp"
[ngTemplateOutletContext]="{ data: data, component: 'generate', prompt: 'Enter a long URL here:',
                            action: 'Generate', divId:'generateShort'}"></ng-container> -->

<!-- For the retrieve url part -->
<!-- <ng-container
[ngTemplateOutlet]="urlFormTemp"
[ngTemplateOutletContext]="{ data: data, component: 'retrieve', prompt: 'Enter a short URL here:', 
                             action: 'Retrieve', divId:'retrieveLong'}"></ng-container> -->

