<body>
    <h1>URL Shortener</h1>
    <div id="generateShort">
        <h3>Enter a long URL here:</h3>
        <form [formGroup]="getShortForm" (ngSubmit)="shorten()">
            <div>
                <label for="LongURL">Enter URL:</label>
                <input type="text" name="Long URL" placeholder="https://example.com" formControlName="longURL" (keyup)="isChanged('long')">
                <button type="submit" id="generate" [disabled]="getShortForm.invalid">Generate</button>
            </div>
        </form>
        <div>  
            <label for="Short URL">Short URL:</label>
            <input type="text" #ShortURL name="Short URL" readonly="readonly" placeholder="View short URL here" [(ngModel)]="shortURL">
            <button type="button" id="copy" [disabled]="!shortURL" (click)="copyToClipboard('copy')">Copy</button>
        </div>
    </div>

    <div id="retrieveLong">
        <h3>Enter a short URL here:</h3>
        <form [formGroup]="getLongForm" (ngSubmit)="retrieve()">
            <div>
                <label for="ShortURL2">Enter URL:</label>
                <input type="text" name="Short URL2" placeholder="https://example.com" formControlName="givenShortURL" (keyup)="isChanged('short')">
                <button type="submit" id="retrieve" [disabled]="getLongForm.invalid">Retrieve</button>
            </div>
        </form>
        <div> 
            <label for="LongURL2">Long URL:</label>
            <input type="text" #LongURL2 name="Long URL2" readonly="readonly" placeholder="View long URL here" [(ngModel)]="returnedLongURL">
            <button type="button" id="copy2" [disabled]="!returnedLongURL" (click)="copyToClipboard('copy2')">Copy</button>
        </div>
    </div>

    <!-- <ng-container [ngTemplateOutlet]="urlFormTemp"
    [ngTemplateOutletContext]="{data:data, component: 'Child'}">
    </ng-container> -->

</body>

<!-- 
    Template Things:
<body>
    <h1>URL Shortener</h1>
    <ng-template #urlFormTemp let-data="data" let-component="component" let-prompt="prompt" let-action="action">
        <h2>This is for testing {{component}} and its data: {{data}}</h2>
            <div [attr.id]="divId">
                <h3>{{ prompt }}</h3>
                <form [formGroup]="getShortForm" (ngSubmit)="shorten()">
                    <div>
                        <label for="LongURL">Enter URL:</label>
                        <input type="text" name="Long URL" placeholder="https://example.com" formControlName="longURL" (keyup)="isChanged('long')">
                        <button type="submit" id="generate" [disabled]="getShortForm.invalid">{{ action }}</button>
                    </div>
                </form>
                <div>  
                    <label for="Short URL">Short URL:</label>
                    <input type="text" #ShortURL name="Short URL" readonly="readonly" placeholder="View short URL here" [(ngModel)]="shortURL">
                    <button type="button" id="copy" [disabled]="!shortURL" (click)="copyToClipboard('copy')">Copy</button>
                </div>
            </div>
    </ng-template>

<app-url-form [urlFormTemp]="urlFormTemp"></app-url-form>

move to css file: background-color:#ff8eff;

</body> -->
 
